<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkMate-Base</title>
    <style>
        * {padding : 0; margin: 0;}
        canvas {background: #eee; display: block; margin : 0 auto;}
    </style>
    
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
<canvas id = "myCanvas" width ="1024" height = "768"></canvas>

<script>
  var canvas = document.getElementById("myCanvas");
  var ctx = canvas.getContext("2d");
  var radius = 16
  var playerSpeed = 4
  
  var rightPressed = false;
  var leftPressed = false;
  var upPressed = false;
  var downPressed = false;


  function PlayerBall(id, nick){
      this.id = id;
      if(nick == null)
        this.nick = "player" + Math.floor(Math.random()*100);
      else
        this.nick = nick;
      // 정면, 좌측, 후면, 우측
      this.asset = ['https://cdn.discordapp.com/attachments/980090904394219562/1004271208226881606/1.png',
                    'https://cdn.discordapp.com/attachments/980090904394219562/1004271240271376385/4.png',
                    'https://cdn.discordapp.com/attachments/980090904394219562/1004271284735193139/4.png',
                    'https://cdn.discordapp.com/attachments/980090904394219562/1004271430722146345/3.png'];
      this.color = "#FF00FF";
      this.x = 1024/2;
      this.y = 768/2;
      this.player = new Image();
      this.player.src = this.asset[0];
  };
  var balls  = [];
  var ballMap = {};
  var myId;

  document.addEventListener("keydown", keyDownHandler,false);
  document.addEventListener("keyup", keyUpHandler,false);

  function keyDownHandler(e){
      if (e.code == 'ArrowRight'){
          rightPressed = true;
      }
      if (e.code == 'ArrowLeft'){
          leftPressed = true;
      }
      if(e.code == "ArrowDown"){
          downPressed = true;
      }
      if(e.code == "ArrowUp"){
          upPressed = true;
      }
  }

  function keyUpHandler(e){
      if (e.code == "ArrowRight"){
          rightPressed = false;
      }
      if (e.code == "ArrowLeft"){
          leftPressed = false;
      }
      if(e.code == "ArrowDown"){
          downPressed = false;
      }
      if(e.code == "ArrowUp"){
          upPressed = false;
      }
  }

  function joinUser(users){
      users.map(e=>{e.current})

      balls.push(ball);
      ballMap[id] = ball;

      return ball;
  }

  function leaveUser(id){
      for(var i = 0 ; i < balls.length; i++){
          if(balls[i].id == id){
              balls.splice(i,1);
              break;
          }
      }
      delete ballMap[id];
  }

  function updateState(id,x,y,direction){
      let ball = ballMap[id];
      if(!ball){
          return;
      }
      ball.x = x;
      ball.y = y;
      ball.player.src = ball.asset[direction];
  }
  socket.on('update_state', function(data){
      updateState(data.id, data.x, data.y, data.direction);
  })
  socket.on('gamestart', function(data){
      joinUser(data.id, data.color, data.x, data.y, data.nick);
  })
  socket.on('leave_user', function(data){
      leaveUser(data);
  })
  
  
  function sendData(curPlayer, direction) {
      let data = {};
      data = {
          id : curPlayer.id,
          x: curPlayer.x,
          y: curPlayer.y,
          direction : direction
      };
      if(data){
          socket.emit("send_location", data);
      }
  }

  function renderPlayer() {
  let direction;
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  
  for (let i = 0; i < balls.length; i++) {
      let ball = balls[i];
      
      ctx.drawImage(ball.player, ball.x, ball.y);

      ctx.beginPath();
      ctx.fillStyle = ball.color;
      ctx.font = '15px Arial';
      ctx.fillText(ball.nick ,ball.x-10, ball.y-radius+10);
      ctx.closePath();
  }

    let curPlayer = ballMap[myId];
      
    if (rightPressed){
      direction = 3;
      curPlayer.player.src = curPlayer.asset[direction];
      curPlayer.x += playerSpeed;
    sendData(curPlayer, direction);
    }
    if(upPressed){
      direction = 2;
      curPlayer.player.src = curPlayer.asset[direction];
      curPlayer.y -= playerSpeed;
    sendData(curPlayer, direction);
    }
    if (leftPressed){
      direction = 1;
      curPlayer.player.src = curPlayer.asset[direction];
      curPlayer.x -= playerSpeed;
    sendData(curPlayer, direction);
    }
    if(downPressed){
      direction = 0;
      curPlayer.player.src = curPlayer.asset[direction];
      curPlayer.y += playerSpeed;
    sendData(curPlayer, direction);
    }
  }
  
  function update() {
    renderPlayer();
  }
  
  setInterval(update, 10);
</script>

</body>
</html><!-- index.html -->
