<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkMate</title>
    <style>
        * {padding : 0; margin: 0;}
        canvas {background: #eee; display: block; margin : 0 auto;}
    </style>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>
    <canvas id = "myCanvas" width ="1024" height = "768"></canvas>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var radius = 16
        var playerSpeed = 4

        var rightPressed = false;
        var leftPressed = false;
        var upPressed = false;
        var downPressed = false;
        function Playerplayer(id){
            this.id = id;
            this.color = "#FF00FF";
            this.x = 1024/2;
            this.y = 768/2;
        }
        
        var userpool  = [];    // user's socket ids   // balls
        var userinfo = {};     // x, y , color        // ballmap
        var myId;              // client's socket id  // ball = player

        document.addEventListener("keydown", keyDownHandler,false);
        document.addEventListener("keyup", keyUpHandler,false);

        function keyDownHandler(e){
            if (e.code == 'ArrowRight'){
                rightPressed = true;
            }
            if (e.code == 'ArrowLeft'){
                leftPressed = true;
            }
            if(e.code == "ArrowDown"){
                downPressed = true;
            }
            if(e.code == "ArrowUp"){
                upPressed = true;
            }
        }

        function keyUpHandler(e){
            if (e.code == "ArrowRight"){
                rightPressed = false;
            }
            if (e.code == "ArrowLeft"){
                leftPressed = false;
            }
            if(e.code == "ArrowDown"){
                downPressed = false;
            }
            if(e.code == "ArrowUp"){
                upPressed = false;
            }
        }

      // 게임 내의 플레이어들의 정보를 다룰 때 사용
        function joinUser(id,color,x,y){
            let player = new Playerplayer(id);
            player.color = color;
            player.x = x;
            player.y = y;

            userpool.push(player);
            userinfo[id] = player;

            return player;
        }

        function leaveUser(id){
            for(var i = 0 ; i < userpool.length; i++){
                if(userpool[i].id == id){
                    userpool.splice(i,1);
                    break;
                }
            }
            delete userinfo[id];
        }

        function updateState(id,x,y){
            let player = userinfo[id];
            if(!player){
                return;
            }
            player.x = x;
            player.y = y;
        }

        var socket = io();

        socket.on('user_id', function(data){
            myId = data;
        });
        socket.on('join_user', function(data){ 
            joinUser(data.id, data.color, data.x, data.y);
        })
        socket.on('leave_user', function(data){ 
            leaveUser(data);
        })
        socket.on('update_state', function(data){ 
            updateState(data.id, data.x, data.y);
        })
        
        function sendData() {
            let curPlayer = userinfo[myId];
            let data = {};
            data = {
                id : curPlayer.id,
                x: curPlayer.x,
                y: curPlayer.y,
            };
            if(data){
                socket.emit("send_location", data); 
            }
        }

        // 플레이어 그리기
        function renderPlayer() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
            
                for (let i = 0; i < players.length; i++) {
                    let player = players[i];
                    
                    ctx.fillStyle = player.color;
                    ctx.beginPath();
                    ctx.arc(player.x, player.y, radius, 0, Math.PI * 2, false);
                    ctx.closePath();
                    ctx.fill();
                    
                    ctx.beginPath();
                    ctx.font = '15px Arial';
                    ctx.fillText(`player ${i}`,player.x-radius-7, player.y-radius);  // 닉네임 수정 해야됨
                    ctx.closePath();
                }

                let curPlayer = userinfo[myId];
                
                if (rightPressed){
                    curPlayer.x += playerSpeed;
                }
                if (leftPressed ){
                    curPlayer.x -= playerSpeed;
                }
                if(upPressed ){
                    curPlayer.y -= playerSpeed;
                }
                if(downPressed ){
                    curPlayer.y += playerSpeed;
                }
                sendData();
            }

        function update() {
            renderPlayer();
        }
        
        setInterval(update, 10); // 0.01초마다 update함수를 실행

    </script>

</body>
</html><!-- index.html -->