<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 
			content="width=device-width, initial-scale=1.0">
    <title>우리의 힘</title>
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"></script>
		
</head>
<body>

<div id="main">

	<input type="text" id="nick" placeholder = "닉네임을 입력해주세요"/>
	<input type="text" id="roomcode"/>
	<div id="center">
		<div id="inner">
			<div id="logo">
				
			</div>
			<input type="button" id="matchStart" value="매칭하기">
			<input type="button" id="createroom" value="방만들기">
			<input type="button" id="joinroom" value="입장하기">
			<input type="button" id="start" value="게임시작">
			<input type="button" id="matchcancel" value="나가기">
		</div>
	</div>
	
</div>
	
</body>
	<script src="script.js"></script>
</html>