<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우리의 힘</title>

    <style>
        * {padding : 0; margin: 0;}
        canvas {
            background-position: center;

        }
    </style>
    
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>

<div>
  <input type="button" id="matching" width = "200" height = "50" value="매칭하기">
  <input type="button" id="joinroom" width = "200" height = "50" value="방만들기">
  <input type="text" id="nick" >
  <canvas id = "myCanvas" width ="1024" height = "768"></canvas>   
  
</div>

<script>
        var canvas = document.getElementById("myCanvas");
        var matchbtn = document.getElementById("matching");
        var jnroombtn = document.getElementById("joinroom");
        var nicktxt = document.getElementById("nick");
        var ctx = canvas.getContext("2d");
        var radius = 16
        var playerSpeed = 4

        var rightPressed = false;
        var leftPressed = false;
        var upPressed = false;
        var downPressed = false;
        function PlayerBall(id){ //자신이 서버랑 주고받을 정보들
            this.id = id;
            this.color = "#FF00FF";
            this.x = 1024/2;
            this.y = 768/2;
            this.nick = "player";
            this.score = 0;
        }
        
        var userpool  = [];
        var userinfo = {};
        var myId;
        var socket = io();
        matchbtn.addEventListener("click", match);
        jnroombtn.addEventListener('click', function () {
          console.log('방만들기 버튼 눌림')
        })
        function updateState(id,x,y){
            let player = userinfo[id];
            if(!player){
                return;
            }
            player.x = x;
            player.y = y;
        }

        

        socket.on('user_id', function(data){
            myId = data;
        });
        socket.on('join_user', function(data){ //html을 접속했을 때 발생
            joinUser(data.id, data.color, data.x, data.y);
        })
        socket.on('leave_user', function(data){ //html를 나갔을 때 발생
            leaveUser(data);
        })
        socket.on('update_state', function(data){ // setinterval 마다 발생
            updateState(data.id, data.x, data.y);
        })

        function match() {
          let player = userinfo[myId];        // 자신의 정보불러옴
          let nickname = nicktxt.value;
          let data = {id : player, nick : nickname, score : 0};
          console.log('match눌림');
          socket.emit('matchstart', data);    // 데이터 넣고 서버에 스타트메시지
          // gif로 로딩중이미지 띄움
          setTimeout(()=>{
          // gif 없앤다
              socket.emit('matchtimeover', myId);    // 15초후 서버에 타임오버 메시지
            }, 1500)
          }
        
    </script>
</body>
</html><!-- index.html -->