<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우리의 힘</title>

    <style>
        * {padding : 0; margin: 0;}
        canvas {
            background-position: center;

        }
    </style>
    
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>

<div>
  <input type="button" id="matching" width = "200" height = "50" value="매칭하기">
  <input type="button" id="joinroom" width = "200" height = "50" value="방만들기">
  <input type="text" id="nick" >
  <canvas id = "myCanvas" width ="1024" height = "768"></canvas>   
  
</div>

<script>
        var canvas = document.getElementById("myCanvas");
        var matchbtn = document.getElementById("matching");
        var Croombtn = document.getElementById("createroom"); //방만들기 버튼 
        var Jroombtn = document.getElementById("joinroom"); //방 입장 버튼
        var nicktxt = document.getElementById("nick");
        var roomid = '';

  
        function PlayerBall(id){ //자신이 서버랑 주고받을 정보들
            this.id = id;
            this.color = "#FF00FF";
            this.x = 1024/2;
            this.y = 768/2;
            this.nick = "player";
            this.score = 0;
        }
        
        var userpool  = [];
        var userinfo = {};
        var myId;
        var socket = io();
        matchbtn.addEventListener("click", match);
        Croombtn.addEventListener('click', function () {
          console.log('create room 눌림 ' + myId + userinfo[myId]);
          socket.emit('createroom', {
            id : "hi", 
            roomid : roomid, 
            nick : nickname,
          }); 
        })

        Jroombtn.addEventListener('click', function () {
          console.log('join room 눌림');
          socket.emit('joinroom', {
            id : "hi2",  
            nick : nickname,
          }); 
        })

        function joinUser(id,color,x,y){
            let player = new Playerplayer(id);
            player.color = color;
            player.x = x;
            player.y = y;

            userpool.push(player);
            userinfo[id] = player;

            return player;
        }

        function leaveUser(id){
            for(var i = 0 ; i < userpool.length; i++){
                if(userpool[i].id == id){
                    userpool.splice(i,1);
                    break;
                }
            }
            delete userinfo[id];
        }
        socket.on('matchfail', function(data) {
           alert('다시 시도해주세요 찐따련아');
        })
        socket.on('user_id', function(data){
            myId = data;
        })
        socket.on('join_user', function(data){ //html을 접속했을 때 발생
            joinUser(data.id, data.color, data.x, data.y);
        })
        socket.on('leave_user', function(data){ //html를 나갔을 때 발생
            leaveUser(data);
        })
        socket.on('update_state', function(data){ // setinterval 마다 발생
            updateState(data.id, data.x, data.y);
        })

        function match() {
          let player = userinfo[myId];        // 자신의 정보불러옴
          let nickname = nicktxt.value;
          roomid  =
          (new Date().getTime() + Math.random().subtring(2,15)).toString(36).substring(1,6);
          
          socket.emit('matchstart', {
            id : player,
            roomid : roomid,
            nick : nickname, 
            score : 0
          });
          console.log();
          // 데이터 넣고 서버에 스타트메시지
          // gif로 로딩중이미지 띄움
          setTimeout(()=>{
            // gif 없앤다
            socket.emit('matchtimeover', myId);    
            // 15초후 서버에 타임오버 메시지
            }, 1500)
          }
        
    </script>
</body>
</html><!-- index.html -->