<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workmate</title>
    <link rel="stylesheet" href="css/main_title.css">
</head>
<body>
    <div class="container">
        <div class="items">
            <div class="logo">
                <img src="images/none_back_Logo.png" alt="game's logo come here">
            </div>

            <div class="btns">
                <button class="btn1">START</button>
                <button class="btn2">OPTION</button>
            </div>
        </div>
    </div>
</body>
</html>