html, body {
	padding : 0; 
	margin: 0;
	height: 100%;
}

#main {
	height: 100%;
	background-image: url("/assets/img/office.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#nick {
	height: 30px;
	margin-top: 10px;
	margin-left: 50px;
}
	
#center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 300px;
}

#inner {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
}

#logo {
	width: 300px;
	height: 200px;
	position: relative;
	background-image: url("/assets/img/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}


#inner > input {
	width: 150px;
	height: 50px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: solid 3px;
	border-radius: 12px;
	margin-top: 20px;
}

#inner > input:hover {
	background-color: white;
}
	
#matchcancel {
	display: none;
}

#start {
	display: none;
}