@font-face {
    font-family: "DungGeunMo";
    src: url("../fonts/DungGeunMo.woff") format("woff"),
    url("../fonts/DungGeunMo.woff2") format("woff2");
    } 
* {
    font-family: "둥근모꼴", "DungGeunMo";
}

html{
width: 100%;
height: 100vh;
overflow: hidden;
font-size: 22px;
}

body{
width: 100%;
height: 100%;
margin: 0;
}

#wrapper {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
background-image: url("https://media.discordapp.net/attachments/980090904394219562/1020072426308112394/unknown.png");
}

#result-top {
flex-grow: 11;
display: flex;
}

#result-left, #result-right {
display: flex;
align-items: center;
}

#result-left {
flex-grow: 1;
}

#result-right {
flex-grow: 1;
align-items: center;
}

.side-inner2 {
width: 98%;
height: 98%;
margin: auto;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.side_inner{
width: 98%;
height: 98%;
margin: auto;
}

#result-bottom {
display: flex;
align-items: center;
flex-basis: 100px;
}

#back-to-main {
margin: auto;
font-size: 2rem;
}


/* Desktop */
@media (min-aspect-ratio: 1/1) {
#result-right {
    flex-grow: 2;
}
}

/* Mobile */
@media (max-aspect-ratio: 1/1) {
#result-top {
    flex-direction: column-reverse;
}
}

@media (min-width: 1280px) {
html {
    font-size: 22px;
}
}

@media (max-width: 1279px) {
html {
    font-size: 18px;
}

}

@media (max-width: 768px) {
html {
    font-size: 14px;
}
}

@media (max-width: 480px) {
html {
    font-size: 10px;
}
}


#result_pixel {
width: 80%;
height: 80%;
background-color: rgb(164, 174, 255);
text-align: center;
font-size: 200%;
text-transform: uppercase;
cursor: pointer;
position: relative;
z-index: 1;
border: 0.7rem solid rgb(130, 138, 201);
}

.winner_box1 {
width: 25%;
height: 40%;
text-align: center;
background: rgb(255, 224, 220);
color: black;
z-index: 3;
border: 0.7rem solid rgb(207, 183, 180);
position: relative;
margin: 10px;
}
.winner_box2 {
width: 25%;
height: 40%;
text-align: center;
background: rgb(254, 255, 200);
color: black;
z-index: 3;
border: 0.7rem solid rgb(224, 224, 177);
position: relative;
margin: 10px;
}
.winner_box3 {
width: 25%;
height: 40%;
border: 0.7rem solid rgb(146, 219, 219);
text-align: center;
background: rgb(209, 255, 255);
color: black;
position: relative;
z-index: 3;
margin: 10px;
}

p{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.num{
    text-align: center;

}