html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.center {
	position: absolute; 
	left: 50%; top: 50%; 
  transform: translate(-50%, -50%);
	text-align: center;
}

#selection {
	position: absolute; 
	left: 50%; top: 50%; 
  transform: translate(-50%, -100px);
	text-align: center;
}

#quiz {
	position: absolute; 
	left: 50%; top: 50%; 
  transform: translate(-50%, -250px);
	text-align: center;
}

.move {
	position: absolute; left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	color: orange;
	font-size: 100px;
}

#ox {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 50%;
	position: absolute;
	top: 50%;
	border-top: 3px solid;
	background-color: #eeeeee;
}

#o {
	position: absolute;
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 50%;
	height: 100%;
	display: inline-block;
	background-color: blue;
}

#x {
	position: absolute;
	top: 0%;
	left: 50%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
	background-color: red;
}

.mark {
	margin: 0px;
	padding: 0px;
	font-size: 200px;
	text-align: center;
	position: absolute; 
	left: 50%; top: 50%; 
  transform: translate(-50%, -50%);
	color: white;
	font-weight: bold;
}