<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resultpage/style.css">
    <script src="result.js"></script>
    <title>게임 마지막 결과 페이지</title>
</head>
<body>

    <div class="main_box">
        <span>최종결과</span>

        <div class="winner_box1">
            <span>최우수 사원</span>
            <div class="img">
            </div>
        </div>
    
        <div class="winner_box2">
            <span>우수사원</span>
            <div class="img">
            </div>
        </div>
    
        <div class="winner_box3">
            <span>장려 사원</span>
            <div class="img">
            </div>
        </div>

        <div class="player_1">
        <span>플레이어 이름</span>
        <span>총 점</span>
        </div>

        <div class="player_2">
            <span>플레이어 이름</span>
            <span>총 점</span>
        </div>

        <div class="player_3">
            <span>플레이어 이름</span>
            <span>총 점</span>
        </div>


        <div class="rank">
            <!--나머지 등수 -->
            <span>4등</span>
            <span>5등</span>
            <span>6등</span>
        </div>

        <div class="btn_box" onclick="location.reload(true)">
            <span>메인으로</span>
        </div>
    </div>

</body>
</html>