<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>게임 마지막 결과 페이지</title>
</head>
<body>

    <div class="main_box">
        <h1>최종결과</h1>

        <div class="winner_box1">
            <h2>최우수 사원</h2>
            <div class="img">
            </div>
        </div>
    
        <div class="winner_box2">
            <h2>우수사원</h2>
            <div class="img">
            </div>
        </div>
    
        <div class="winner_box3">
            <h2>장려 사원</h2>
            <div class="img">
            </div>
        </div>

        <div class="player_1">
        <h2>플레이어 이름</h2>
        <h3>총 점</h3>
        </div>

        <div class="player_2">
            <h2>플레이어 이름</h2>
            <h3>총 점</h3>
        </div>

        <div class="player_3">
            <h2>플레이어 이름</h2>
            <h3>총 점</h3>
        </div>


        <div class="rank">
            <!--나머지 등수 -->
            
            <h3>4등</h3>
            <h3>5등</h3>
        </div>

        <div class="btn_box">
            <h3>메인으로</h3>
        </div>

        
        
    </div>

</body>
</html>