
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="result.css">
    <script src="result.js"></script>
    <title>게임 마지막 결과 페이지</title>
</head>
<body>
    <div class = "rank_box">
    <h1>최종 결과</h1>
    <p> 등수&nbsp;&nbsp;&nbsp;  
    이름#코드&nbsp;&nbsp;&nbsp;
    총점수</p>

    <p> 1등&nbsp;&nbsp;&nbsp; 홍길동#132&nbsp;&nbsp;&nbsp; 320</p>
    <p> 2등&nbsp;&nbsp;&nbsp; 홍길동#132&nbsp;&nbsp;&nbsp; 320</p>
    <p> 3등&nbsp;&nbsp;&nbsp; 홍길동#132&nbsp;&nbsp;&nbsp; 320</p>
    <p> 4등&nbsp;&nbsp;&nbsp; 홍길동#132&nbsp;&nbsp;&nbsp; 320</p>
    <p> 5등&nbsp;&nbsp;&nbsp; 홍길동#132&nbsp;&nbsp;&nbsp; 320</p>
    <p> 6등&nbsp;&nbsp;&nbsp; 홍길동#132&nbsp;&nbsp;&nbsp; 320</p>


        <div class="winner_box1">
            <h2>최우수 사원</h2>
            <div class="img">
            </div>
        </div>
    
        <div class="winner_box2">
            <h2>우수사원</h2>
            <div class="img">
            </div>
            
        </div>
    
        <div class="winner_box3">
            <h2>장려 사원</h2>
            <div class="img">
            </div>
        </div>
        <div class="btn_box" onclick="location.href='../box/box.html'">
            <span>메인으로</span>
        </div>
    </div>
</body>
</html>
