@font-face {
    font-family: 'DungGeunMo';
    src: 
			url("../view_asset/DungGeunMo.woff") format('woff'),
    	url("../view_asset/DungGeunMo.woff2") format('woff2');
}

*{
 font-family : '둥근모꼴', 'DungGeunMo';
 }

html
{
  height: 100vh;
  width: 100%;
	overflow: hidden;
}

#set-nickname {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 10px;
  top: 10px;
}

#qr-button, #question-mark {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  font-size: 30px;
}

#qr-button {
  right: 10px;
}

#question-mark {
  right: 100px;
}

#qr-area {
  background-color: white;
  position: absolute;
  top: 100px;
  right: 10px;
  border: 2px solid black;
  width: 300px;
  height: 350px;
}

#qr-close {
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
  background: none;
  border: 0;
  font-size: 30px;
}

#qr-code {
  background-image: url("https://media.discordapp.net/attachments/980090904394219562/1035890351136854147/qrcode_workmate.ga.png");
  background-size: cover;
  position: absolute;
  top: 60px;
  left: 10px;
  width: 275px;
  height: 275px;
  position: absolute;
  border: 2px black solid;
}

	
body
{
  font-family : '둥근모꼴', 'DungGeunMo';
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: url("https://media.discordapp.net/attachments/980090904394219562/1020072426308112394/unknown.png");
  background-size: cover;
  background-position: center;
}
#main {
  width: 100%;
  height: 100%;
}
.half
{
  height: 50%;
  width: 100%;
}
.inner
{
  position: absolute;
  width: 50%;
  max-width: 50%;
  height: 25%;
  max-height: 25%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -70%);
  min-height: 100px;
  min-width: 200px;
}
#logo
{
  background-image: url("https://cdn.discordapp.com/attachments/980090904394219562/980091289414557736/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#menu
{
  top: 70%;
}
.inner > button
{
  width: 25%;
  height: 37%;
  border-radius: 10px;
  display: block;
  margin-top: 35px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  min-width : 100px;
  min-height : 30px;
  font-size : 32px;
}

.inner > input
{
  width: 20%;
  height: 30%;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  min-width : 100px;
}
.room
{
  position: absolute;
  width: 85%;
  height: 85%;
  left:50%;top:50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  font-size : 40px;
}
.room input
{
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

#room2 {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 55%;
}
#room2 input
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 25%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.roomTop
{
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.roomBottom
{
  position: absolute;
  top: 82.5%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.players
{
  height: 50%;
  width: 100%;
  position: absolute;
  top: 25%;
  display : flex;
  justify-content : space-around;
}
#ready{
  display : none;
}
.slot
{
  border: 1px solid black;
  border-radius: 3px;
  height: 100%;
  width: 15%;
  background-Color : rgb(255, 255, 255);
}

.in_slot_name
{  
}

.in_slot_img
{
  background-image: url("https://cdn.discordapp.com/attachments/980090904394219562/1004271208226881606/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top : 20%;
  margin-bottom : 10%;
  width: 50%;
  height: 50%;
  border: 0;
}

.in_slot_hide
{
  visibility : hidden;
  font-Size : 1px;
}

#match
	{
		display: none;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 50%;
		height: 50%;
		background-color: white;
		border-radius: 10px;
		border: 1px solid;
	  transform: translate(-50%, -50%);
		background-color: #ddd;
}

	#match > p {
	  position: absolute;
	  top: 60%;
	  left: 50%;
	  width: 50%;
		height: 10%;
	  transform: translate(-50%, -50%);
		text-align: center;
	}
	
#match > button {
	  position: absolute;
	  top: 80%;
	  left: 50%;
	  transform: translate(-50%, -50%);
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
	left: 0%;
	top: 4%;
	transform: translate(-50%, -50%);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1000px)
{
	#match button,
	.room button
	{
		font-size: 18px;
	}
}


