<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
			name="viewport"
			content="
				width=device-width, 
				initial-scale=1.0, 
				maximum-scale=1.0, 
				minimum-scale=1.0, 
				user-scalable=no,
			"
		/>
    <title>WorkMate</title>
		<!-- link -->
    <link rel="stylesheet" href="main_page/index.css">
    <link rel="shortcut icon" href="view_asset/logo.ico">
		<!-- script  -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="main_page/data.js" defer></script>
    <script src="main_page/common.js" defer></script>
    <script src="main_page/index.js" defer></script>
  </head>
  <body>
    <div id="main">
          <button>QR</button>
          <button>?</button>
          <input type="text" id="nick" placeholder = "닉네임을 입력해주세요"/>
      <div class="half" id="upper-half">
        <div class="inner" id="logo"></div>
      </div>
      <div class="half" id="lower-half">
        <div class="inner" id="menu">
          <button id="matchStart" onclick="toggleMatch()">매칭하기</button>
          <button id="createroom" >방만들기</button>
          <button onclick="toggleRoom2()">입장하기</button>
        </div>
      </div>
      <div class="room" id="room">
        <div class="roomTop">
          입장 코드<br>
          <b><span id="adminCode"></span></b>
        </div>
        <div class="players">
          <div class="slot" id="admin">
          </div>
          <div class="slot">
          </div>
          <div class="slot">
          </div>
          <div class="slot">
          </div>
          <div class="slot">
          </div>
          <div class="slot">
          </div>
        </div>
        <!--players-->
        <div class="roomBottom">
          <button id="start">게임시작</button>
          <button id="ready">레디하기</button>
          <button id="matchcancel" onclick="toggleRoom()">나가기</button>
        </div>
      </div>
      <!--room-->
      <div class="room" id="room2">
        <div class="roomTop">
          입장 코드<br>
        </div>
        <input type="text" id="roomcode"/></br>
        <div class="roomBottom">
          <button class="roomButton" id="joinroom">입장하기</button>
          <button onclick="toggleRoom2()">취소</button>
        </div>
      </div>
      <!--room2-->
      <div id="match">
        <div class="loader"></div>
        <p id="match-text">상사의 대머리를 보고 참는 중...</p>
        <button onclick="toggleMatch()">나가기</button>
      </div>
      <!--match-->
    </div>
    <!--main-->
  </body>
</html>