@font-face {
  font-family: "DungGeunMo";
  src: url("../view_asset/DungGeunMo.woff") format("woff"),
    url("../view_asset/DungGeunMo.woff2") format("woff2");
}

* {
  font-family: "둥근모꼴", "DungGeunMo";
}

html {
  width: 100%;
  height: 100%;
  background-image: url("https://media.discordapp.net/attachments/980090904394219562/1020072426308112394/unknown.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.rank_box {
  display: block;
  position: absolute;
  width: 30%;
  height: 75%;
  bottom: 20px;
  border-radius: 1em;
  border: 3px solid rgb(0, 0, 0);
  top: 12.5%;
  left: 10%;
  background-color: #add8e6;
  text-align: center;
  font-size: 150%;
}

.winner_box1 {
  font-size: 80%;
  background-color: #d4f4fa;
  width: 50%;
  height: 60%;
  left: 160%;
  bottom: 35%;
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2em;
  z-index: 3;
}

.winner_box2 {
  font-size: 80%;
  background-color: #faf4c0;
  width: 50%;
  height: 60%;
  left: 120%;
  bottom: 25%;
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2em;
  z-index: 2;
}
.winner_box3 {
  font-size: 80%;
  background-color: #fae0d4;
  width: 50%;
  height: 60%;
  left: 200%;
  bottom: 25%;
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2em;
  z-index: 1;
}

.img {
  /*캐릭터 이미지*/
  width: 80%;
  height: 80%;
  background-image: url("https://cdn.discordapp.com/attachments/896478465237348402/1006409267257024614/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px;
  border: 0;
  display: block;
  left: 7%;
  bottom: 10%;
  position: absolute;
}

.btn_box {
  /*버튼*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 50%;
  height: 10%;
  left: 160%;
  top: 85%;
  background-color: white;
  border-color: black;
  border-radius: 1em;
  border: 3px solid rgb(0, 0, 0);
}

.btn_box:active {
  position: absolute;
  text-align: center;
  background-color: #9f9f9f;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.name{
  text-align: center;
  width: 250px;
}
.score{
  width:120px;
}

.names{
  text-align: center;
  width: 200px;
}
.scores{
  width:140px
}
p > div {
  font-size: 5px;
}

@media (min-width: 1200px) {
  :root {
    font-size: 1em;
  }
}
