@font-face {
  font-family: "DungGeunMo";
  src: url("../view_asset/DungGeunMo.woff") format("woff"),
    url("../view_asset/DungGeunMo.woff2") format("woff2");
}

* {
  font-family: "둥근모꼴", "DungGeunMo";
}


html {
  width: 100%;
  height: 100%;
  background-image: url("https://media.discordapp.net/attachments/980090904394219562/1020072426308112394/unknown.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.result_pixel {
  position: absolute;
  width: 35%;
  bottom: 20px;
  left: 10%;
  background-color: rgb(209, 255, 255);
  text-align: center;
  font-size: 200%;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*------------------------------------사원-------------------------------------------------------*/
.winner_box1 {
  position: absolute;
  background-color: #add8e6;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.winner_box2 {
  position: absolute;
  background-color: #faf4c0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.winner_box3 {
  position: absolute;
  background-color: #fae0d4;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*-------------------------------------------------------------------------------------------*/
.img {
  /*캐릭터 이미지*/
  width: 80%;
  height: 80%;
  background-image: url("https://cdn.discordapp.com/attachments/896478465237348402/1006409267257024614/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px;
  border: 0;
  display: block;
  left: 7%;
  bottom: 10%;
  position: absolute;
}
/*--------------------------------------버튼-------------------------------------------------------*/
.btn_box {
  /*버튼*/
  width: 50%;
  height: 10%;
  left: 150%;
  top: -200%;
}

.btn_box{
  position: relative;
  display: block;
  background: rgb(60, 181, 197);
  font-size: 25px;
  color: black;
}

.btn_box::before {
  text-align: center;
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: rgb(60, 181, 197);
  z-index: -1;
}
.btn_box::after {
  text-align: center;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: rgb(60, 181, 197);
  z-index: -1;
}


.btn_box:active {
  position: relative;
  text-align: center;
  color: white;
}
/*-------------------------------------------------------------------------------------------*/
span.btn{
  position: relative;
  text-align: center;
  top: 25%;
}
p{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.name{
  text-align: center;
  width: 250px;
}
.score{
  width:120px;
}

.names{
  text-align: center;
  width: 200px;
}
.scores{
  width:140px
}
.p > div {
  font-size: 5px;
}

.num{
  position: absolute;
  width: 200px;
  left: 17%;
  top: 78%;
}
@media (min-width: 1200px) {
  :root {
    font-size: 1em;
  }
}

/*------------------------------------최종결과-------------------------------------------------------*/
.result_pixel {
  top: 150px;
  height: 600px;
  position: relative;
  display: block;
  text-transform: uppercase;
  background: rgb(174, 184, 255);
  color: black;
}

.result_pixel::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: rgb(174, 184, 255);
  z-index: -1;
}
.result_pixel::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: rgb(174, 184, 255);
  z-index: -1;
}

/*------------------------------------최우수사원-------------------------------------------------------*/
.winner_box1 {
  width: 300px;
  height: 400px;
  top: -500px;
  left: 1000px;
  position: relative;
  display: block;
  text-transform: uppercase;
  background: rgb(255, 224, 220);
  color: black;
  z-index: 3;
}

.winner_box1::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: rgb(255, 224, 220);
  z-index: -1;
}

.winner_box1::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: rgb(255, 224, 220);
  z-index: -1;
}
/*------------------------------------우수사원-------------------------------------------------------*/
.winner_box2 {
  width: 300px;
  height: 400px;
  top: -850px;
  left: 750px;
  position: relative;
  display: block;
  text-transform: uppercase;
  background: rgb(254, 255, 200);
  color: black;
  z-index: 2;
}

.winner_box2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: rgb(254, 255, 200);
  z-index: -1;
}

.winner_box2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: rgb(254, 255, 200);
  z-index: -1;
}
/*------------------------------------장려사원-------------------------------------------------------*/
.winner_box3 {
  width: 300px;
  height: 400px;
  top: -1250px;
  left: 1250px;
  position: relative;
  display: block;
  text-transform: uppercase;
  background: rgb(209, 255, 255);
  color: black;
  z-index: 1;
}

.winner_box3::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: rgb(209, 255, 255);
  z-index: -1;
}

.winner_box3::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: rgb(209, 255, 255);
  z-index: -1;
}
