/* * {padding : 0; margin: 50;} */

/* canvas {
    display: block;
    margin : 0 auto;
} */


html, body {
    width : 100%;
    height : 100%;
    margin : 0px;
    border : 0;
    overflow : hidden;
    display : block;
}