@font-face {
  font-family: "DungGeunMo";
  src: url("../view_asset/DungGeunMo.woff") format("woff"),
    url("../view_asset/DungGeunMo.woff2") format("woff2");
}

* {
  font-family: "둥근모꼴", "DungGeunMo";
}

html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "둥근모꼴", "DungGeunMo";
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: url("https://workmate.s3.ap-northeast-2.amazonaws.com/bg_main.png");
  background-size: cover;
  background-position: center;
}

#main {
  width: 100%;
  height: 100%;
}

/*
#corner-menu {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 400px;
  height: 100px;
  border: black 3px solid;
  border-radius: 10px;
  background-color: rgba(153, 242, 253, 0.1);
}
*/

#qr-button,
#question-mark {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  font-size: 30px;
  background-color: transparent;
  border: 0;
}

#qr-button {
  right: 10px;
  background-image: url("https://workmate.s3.ap-northeast-2.amazonaws.com/btn_qr.png");
  background-size: cover;
  position: absolute;
}

#question-mark {
  right: 100px;
  background-image: url("https://workmate.s3.ap-northeast-2.amazonaws.com/btn_howto.png");
  background-size: cover;
  position: absolute;
}

#set-nickname {
  position: absolute;
  width: 200px;
  height: 50px;
  right: 190px;
  top: 28px;
}

#qr-area {
  background-color: white;
  position: absolute;
  top: 100px;
  right: 10px;
  border: 2px solid black;
  width: 300px;
  height: 300px;
  display: none;
  z-index: 300;
}

#qr-code {
  background-image: url("https://workmate.s3.ap-northeast-2.amazonaws.com/qrcode.png");
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 275px;
  height: 275px;
  background-position: center;
  border: 2px black solid;
}

#manual-window {
  width: 75%;
  height: 75%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border: 3px solid black;
  display: none;
  background-image: url("https://workmate.s3.ap-northeast-2.amazonaws.com/howto.PNG");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#main-container {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.half {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#upper-half {
  flex-basis: 50%;
}

#lower-half {
  flex-basis: 50%;
}

.inner {
  flex-basis: 50%;
  height: 100%;
  margin: auto;
}

#logo {
  background-image: url("https://workmate.s3.ap-northeast-2.amazonaws.com/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.inner > button {
  width: 10rem;
  height: 4rem;
  border: 0;
}

.room {
  position: absolute;
  width: 85%;
  height: 85%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
}

.room input {
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

#room2 {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 55%;
}

#room2 input {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 25%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.roomTop {
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.roomBottom {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#croom {
  top: 88%;
}

#jroom {
  top: 80%;
}

.roomBottom > button {
  border: 2px solid black;
  width: 20%;
  padding: -1px;
  margin: 0px 30px -10px 30px;
  height: 60px;
  min-width: 10%;
  border-radius: 10px;
  font-size: 32px;
}

#ready {
  display: none;
}

.players {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: space-around;
}

.slot {
  border: 1px solid black;
  border-radius: 3px;
  height: 100%;
  width: 15%;
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding-top: 2%;
}

.in_slot_name {
  font-size: 2rem;
  margin-bottom: 5%;
}

.in_slot_img {
  background-image: url("https://workmate.s3.ap-northeast-2.amazonaws.com/player_main.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 50%;
  height: 50%;
  border: 0;
  margin: auto;
}

.in_slot_hide {
  visibility: hidden;
  font-size: 1px;
}

#match {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 10px;
  border: 3px solid black;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

#match > p {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  height: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#match > button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  width: 20%;
  height: 60px;
  min-width: 10%;
  border-radius: 10px;
  font-size: 32px;
}

.loader {
  background-image: url("https://workmate.s3.ap-northeast-2.amazonaws.com/match_loading.gif");
  width: 100%;
  height: 30%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10%;
}

@media screen and (min-width: 1000px) {
  #match button,
  .room button {
    font-size: 18px;
  }
}

.pixel {
  font-size: 25px;
  color: white;
  height: auto;
  font-family: "둥근모꼴", "DungGeunMo";
  position: relative;
  vertical-align: top;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main_pixel:active {
  top: 2px;
}

.main_pixel {
  position: relative;
  display: block;
  font-family: "둥근모꼴", "DungGeunMo";
  text-transform: uppercase;
  background: rgb(60, 181, 197);
  font-size: 25px;
  color: white;
}

.main_pixel::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: rgb(60, 181, 197);
  z-index: -1;
}

.main_pixel::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: rgb(60, 181, 197);
  z-index: -1;
}
#touch_me {
  position: absolute;
  background-image: url("https://workmate.s3.ap-northeast-2.amazonaws.com/touchme.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 10%;
  height: 10%;
  left: 86%;
  top: 10%;
}
